body {
    background-color: #efefef;
}

.main {
    background-color: #ffffff;
    margin: 30px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.tip{
    padding-left: 20px;
}

.media-object{
    height: 38px;
    width: 38px;
}

.text-font{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.navigation{
    display: flex;
    justify-content: center;
}

.sidebar{
    margin-top: 20px;
}
/**question的样式*/
.community-menu {
    color: #999;
    font-size: 13px;
}

.jumbotron{
    margin-bottom: 0px;
}
/**question-detail的样式**/
.qustion-detail-header h1{
    font-size: 25px;
    line-height: 30px;
}

.qustion-detail-body{
    padding: 10px 0;
    font-size: 16px;
}

.qustion-detail-footer{
    margin: 10px 0 30px 0;
}

.qustion-detail .media-body{
    vertical-align: middle;
}

.question-reply .media{
    margin-bottom: 20px;
}

.bb{
    border-bottom: 1px solid #eee;
}
