body {
    background-color: #efefef;
}

.main {
    background-color: #ffffff;
    margin: 30px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.tip{
    padding-left: 20px;
}

.media-object{
    height: 38px;
    width: 38px;
}

.text-font{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.navigation{
    display: flex;
    justify-content: center;
}

.sidebar{
    margin-top: 20px;
}