<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>码匠社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script type="application/javascript" src="/js/jquery.min.js"></script>
    <script type="application/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="fragments/navbar :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="jumbotron">
            <h1>出错啦～</h1>
            <p th:text="${message}">biu~biu~biu~服务器正在解决你的问题，要不稍等一下再来？</p>
            <p><a class="btn btn-primary btn-lg" href="/static" role="button">回到主页</a></p>
        </div>
    </div>
</div>
</body>
</html>