<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script type="application/javascript" src="/js/jquery.min.js"></script>
    <script type="application/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="fragments/navbar :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-xs-12">
            <h2 th:text="${sectionName}">发现</h2>
            <hr>
            <ul class="media-list">
                <li class="media" th:each="question : ${pageInfo.questions}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded"
                                 th:src="${question.user.avatarUrl}" alt="头像">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a th:href="@{'/question/'+ ${question.id}}" th:text="${question.title}"></a>
                        </h4>
                        <span class="text-font" th:text="${'•'+question.commentCount+'个评论'}"></span>
                        <span class="text-font" th:text="${'•'+question.viewCount+'次浏览'}"></span>
                        <span class="text-font"
                              th:text="${#dates.format(question.getGmtModified(), 'yyyy-MM-dd HH:mm:ss')}"></span>
                    </div>
                </li>
            </ul>
            <nav aria-label="Page navigation" th:if="${pageInfo.getTotalPage()!=0}">
                <ul class="pagination">
                    <li th:if="${pageInfo.showFirstPage}">
                        <a href="/?page=1" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pageInfo.showPrevious}">
                        <a th:href="@{'/profile/'+${section}(page=${pageInfo.page - 1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <li th:each="page : ${pageInfo.pages}" th:class="${pageInfo.page == page}? 'active' : ''">
                        <a th:href="@{'/profile/'+${section}(page=${page})}" th:text="${page}"></a>
                    </li>

                    <li th:if="${pageInfo.showNext}">
                        <a th:href="@{'/profile/'+${section}(page=${pageInfo.page +1})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pageInfo.showEndPage}">
                        <a th:href="@{'/profile/'+${section}(page=${pageInfo.totalPage})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-xs-12">
            <div class="list-group sidebar">
                <a href="/profile/questions" th:class="${((section == 'questions')?'active':'')+' list-group-item'}">我的问题</a>
                <a href="/profile/replies" th:class="${((section =='replies')?'active':'')+' list-group-item'}">
                    最新回复
                    <span class="badge">14</span>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>